html, body {
    height: 100vh;
    width: 100vw;
    
}

.calendar-screen{
    display: flex;
    flex-flow: column;
    height: 100vh;
}

/* Clase de big calendar modificado */
.rbc-calendar{
    height: 100%;
}